<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Mongo files upload</title>
</head>

<body>
    <div>
        <h1 class="text-center display-4 my-4">Mongo File Upload</h1>
        <div class="row">
            <div class="col-md-6 row">
                <div class="col-md-10 m-auto">
                    <h3 class="text-center my-4">Songs Upload</h3>
                    <form action="/api/songs/upload" method="post" enctype="multipart/form-data">
                        <div class="custom-file mb-3">
                            <input type="file" name="file" id="file" class="custom-file-input">
                            <label for="file" class="custom-file-label">Choose file</label>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-10 m-auto">
                    <h3 class="text-center my-4">Images Upload</h3>
                    <form action="/api/images/upload" method="post" enctype="multipart/form-data">
                        <div class="custom-file mb-3">
                            <input type="file" name="file" id="file" class="custom-file-input">
                            <label for="file" class="custom-file-label">Choose file</label>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
<style>
    img {
        width: 100%;
    }
</style>

</html>